

  .middle{
    /* text-align: center; */
    /* padding-right: 50px;
    padding-left: 50px;
    width: 30%;
    margin-left: 80px; */
    margin: auto;
    width: 50%;
    padding: 10px;
        padding-left: 200px;
        padding-right: 200px;
      }
      input[type=text]:focus {
        background-color: rgb(247, 247, 247);
      }
      .variable{
        text-align: left;
    
      }
    .text-info{
    color:rgb(19, 20, 21);
    
    
    }
    
    .variable{
        color:rgb(19, 20, 21);
    }
    .main-text-info{
        padding-top: 30px;
      color:black;
      font-weight: 1000;
      text-align: center;

    }
    .addvehicle{
        text-align: center;
    
    }
    .btn{
        background-color: blue;
       margin-top: 20px;
       margin-right: 4px;
        
    }
    label{
        text-align: left;
    }